.grid {
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 17.5rem;
    grid-auto-flow: column;
    gap: 1.5rem;
    margin: 0.5rem 0rem;
    min-height: 100vh;
    @media (min-width: 768px) {
        margin: 0.45rem 0.5rem;
    }
    .column {  
        .column-name {
            display: flex;
            gap: 0.8rem;
            padding: 1rem;
            color: #828FA3;
            font-size: 0.75rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
            .dot {
                width: 0.9375rem;
                min-height: 0.9375rem;
                display: inline-block;
                border-radius: 15px;
                background: #49C4E5;
            }
        }
        
        .cell-task {
            .wrapper {
                cursor: pointer;
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.45rem;
                justify-content: center;
                font-size: 0.9375rem;
                background: #fff;
                width: 15.5rem;
                border-radius: 8px;
                box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
                padding: 1.44rem 1rem;
                margin-bottom: 1.3rem;
                .task-name {
                       
                }
                .substask {
                    color: #828FA3;
                    font-size: 0.75rem;
                    font-weight: 500;
                }
            }       
        }
    }
    .add-column {
        width: 17.5rem;
        margin: 3.5rem 1rem 0rem 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.50) 100%);
        color: var(--medium-grey, #828FA3);
        font-size: 1.5rem;
        font-family: Plus Jakarta Sans;
        font-weight: 700;
    }
}

