.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background: rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .modal {
        overflow: scroll;
        
            &::-webkit-scrollbar {
                display: none;
            }
        // position: ;
        background: #fff;
        border-radius: 6px;
        max-width: 30rem;
        min-width: 23.4375rem;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.5rem;
        // transform: translate(0%, 33.5%);
        h1 {
            font-size: 1.125rem;
        }
        input {
            padding: 1rem;
            // height: 2.5rem;
            border-radius: 4px;
            border: 1px solid #828fa340;
            ::placeholder {
                font-size: 0.8125rem;
                font-weight: 500;
                line-height: 1.4375rem;
                opacity: 0.25;
            }
        }
                label {
                    color: #828FA3;
                    font-size: 0.75rem;
                    margin-bottom: 0.5rem;
                }

                textarea {
                    // height: 7rem;
                    border-radius: 4px;
                    border: 1px solid rgba(130, 143, 163, 0.25);
                    color: #000112;
                    font-size: 0.8125rem;
                    font-family: Plus Jakarta Sans;
                    font-weight: 500;
                    line-height: 1.4375rem;
                    opacity: 0.25;
                }     
            .task-info {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    flex-direction: column;
                }


            }
        
            .subtasks {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                div {
                    display: flex;
                    input {
                        width: 100%;
                    }
                }

                img {
                    margin-left: 1rem;
                }
        
            .add-new-subtask-btn {
                // width: 100%;
                height: 2.5rem;
                color: #635FC7;
                font-weight: 700;
                text-align: center;
                font-size: 0.8125rem;
                line-height: 1.4375rem;
                border-radius: 20px;
                background: rgba(99, 95, 199, 0.10);
            }
        }
                  .create-task-btn {
                    height: 2.5rem;
                    border-radius: 20px;
                    background: #635FC7;
                    color: #FFF;
                    text-align: center;
                    font-size: 0.8125rem;
                    line-height: 1.4375rem;
                }
    }        
}












// .modal-bg {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100vw;
//         height: 100vh;
//         background: rgba(0, 0, 0, 0.50);
//         display: flex;
//         justify-content: center;
//         .modal {
//             position: absolute;
//             background: #fff;
//             border-radius: 8px;
//             margin: 0 1rem;
//             max-width: 30rem;
//             padding: 1.5rem;
//             display: flex;
//             flex-direction: column;
//             gap: 1.5rem;
//             h1 {
//                 font-size: 1.125rem;
//             }
//             // top: 9.75rem;
//             // z-index: 100;
//             .task-info {
//                 div {
//                     display: flex;
//                     flex-direction: column;
//                 }

//             }
//             .subtasks {
//                 display: flex;
//                 flex-direction: column;
//                 gap: 0.75rem;

//                 img {
//                     margin-left: 1rem;
//                 }

//                 .add-new-subtask-btn {
//                     // width: 100%;
//                     // height: 2.5rem;
//                     color: #635FC7;
//                     font-weight: 700;
//                     text-align: center;
//                     font-size: 0.8125rem;
//                     line-height: 1.4375rem;
//                     border-radius: 20px;
//                     background: rgba(99, 95, 199, 0.10);
//                 }
//             }
//             .create-task-btn {
//                 // width: 18.4375rem;
//                 // height: 2.5rem;
//                 //     flex-shrink: 0;
//                 border-radius: 20px;
//                 background: #635FC7;
//                 color: #FFF;
//                 text-align: center;
//                 font-size: 0.8125rem;
//                 line-height: 1.4375rem;
//             }

//                                 input {
//                                     padding: 1rem;
//                                     // height: 2.5rem;
//                                     border-radius: 4px;
//                                     border: 1px solid #828fa340;
//                                     ::placeholder {
//                                         font-size: 0.8125rem;
//                                         font-weight: 500;
//                                         line-height: 1.4375rem;
//                                         opacity: 0.25;
//                                     }
//                                 }

//                                 label {
//                                     color: #828FA3;
//                                     font-size: 0.75rem;
//                                     margin-bottom: 0.5rem;
//                                 }

//                                 textarea {
//                                                                     // height: 7rem;
//                                                                     border-radius: 4px;
//                                                                     border: 1px solid rgba(130, 143, 163, 0.25);
//                                                                     color: #000112;
//                                                                     font-size: 0.8125rem;
//                                                                     font-family: Plus Jakarta Sans;
//                                                                     font-weight: 500;
//                                                                     line-height: 1.4375rem;
//                                                                     opacity: 0.25;
//                                                                 }                         

//         }
//     } 
    
       
    
        
    
      
    
    
        
    
      

